@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Print styles */
@media print {
  aside:first-of-type,
  header button,
  .no-print {
    display: none !important;
  }
}
